.main {
  display: flex;
  flex-direction: column;
}

.heading {
  font-size: 60px;
  color: #334271;
}

.subheading {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  color: #6b88e0;
  white-space: pre-wrap;
}

@media only screen and (max-width: 500px) {
  .heading {
    font-size: 52px;
  }

  .subheading {
    font-size: 20px;
  }
}
