@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap");

.app {
  margin-left: 20%;
  margin-right: 20%;
  font-family: "Red Hat Display", sans-serif;
}

.header {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  margin-bottom: 7%;
}

.links {
  display: flex;
}

a {
  display: block;
  margin-top: 1rem;
  padding-right: 32px;
  color: #7798ff;
  text-decoration: none;
  font-size: 1.5rem;
  transition: opacity 0.15s ease-in-out;
}

a:hover,
a:focus {
  opacity: 0.6;
}
