.socials {
  display: flex;
  flex-direction: row;
  font-size: 1.1rem;
  justify-content: space-between;
  margin-bottom: 5%;
}

.link {
  margin-top: 1rem;
  padding-right: 32px;
  color: #4d78fa;
  text-decoration: none;
  font-size: 1.5rem;
  transition: opacity 0.15s ease-in-out;
}

.link:hover,
.link:focus {
  opacity: 0.6;
}

@media only screen and (max-width: 500px) {
  .socials {
    flex-direction: column;
    align-items: center;
  }

  .link {
    font-size: 20px;
  }
}
